<div *ngIf="dataSource; else loading">
    <div class="example-header">
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
        </mat-form-field>
      </div>
      
      <div class="example-container mat-elevation-z8">
      
        <mat-table [dataSource]="dataSource" matSort>
      
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
          </ng-container>
      
          <!-- Machine Column -->
          <ng-container matColumnDef="machine">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Machine </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.machine}} </mat-cell>
          </ng-container>
      
          <!-- End Date Column -->
          <ng-container matColumnDef="endDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> End Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.endDate}} </mat-cell>
          </ng-container>

          <!-- Notify Column -->
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span *ngIf="MACHINES_LIST[row.machine.substring(0, row.machine.length-2)]['useAlerts']">
                <button mat-icon-button [disabled]="config && config.Users.alertService !== 'email'" [matMenuTriggerFor]="alertmenu"><mat-icon class="mat-24">notifications</mat-icon></button>
                <mat-menu #alertmenu="matMenu">
                  <ng-template matMenuContent>
                    <span *ngFor="let alert of MACHINES_LIST[row.machine.substring(0, row.machine.length-2)]['customAlerts']">
                      <button (click)="this.sendEmailAlert(row.name, alert)" mat-menu-item>{{alert.key}}</button>
                    </span>
                  </ng-template>
                </mat-menu>
              </span>
            </mat-cell>
          </ng-container>
      
          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;">
          </mat-row>
        </mat-table>
      
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
</div>

<div style="position: absolute" class="centered">
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>