<div class="centered" style="padding-left: 75px; padding-top: 40px; padding-right: 75px;">
    <form class="example-form" #signinForm="ngForm">
        <div class="row">
            <div class="col col-md-4">
                <div class="centered">
                    <mat-form-field class="example-full-width">
                        <input matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="name" placeholder="Name" name="name" required>
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </div>
            </div>
            <div class="col col-md-2 mr-lg-4 mr-5">
                <div class="centered">
                    <mat-form-field>
                        <mat-select style="float: right" [(ngModel)]="machine" (ngModelChange)="onMachineChange()" [(value)]="selected" placeholder="Machine" name="machine" required>
                            <div *ngIf="machineAvailability">
                                <ng-container *ngIf="machineAvailability">
                                        <ng-container *ngFor="let key of objectKeys(machineAvailability)">
                                                <mat-option *ngFor="let machine of machineAvailability[key]" [value]="machine.key">
                                                        {{machine.longName}}
                                                </mat-option>
                                        </ng-container>
                                </ng-container>
                            </div>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="col col-md-3 ml-md-4">
                <div class="centered">
                    <div *ngIf="machine && MACHINES_LIST && MACHINES_LIST[machine.toLowerCase().substring(0, machine.length - 1)]['useOptions'];">
                        <mat-form-field>
                            <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="minutes" placeholder="Minutes" required>
                                <mat-option (click)="triggerForceCustom(false)" *ngFor="let option of MACHINES_LIST[machine.toLowerCase().substring(0, machine.length - 1)]['minuteOptions']" [value]="option.amount">
                                    {{option.label}}
                                </mat-option>
                                <mat-option [value]="0" (click)="triggerForceCustom(true)">
                                    Custom
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div *ngIf="!(machine && MACHINES_LIST && MACHINES_LIST[machine.toLowerCase().substring(0, machine.length - 1)]['useOptions']) || forceCustom">
                        <mat-form-field class="example-full-width">
                            <input matInput [(ngModel)]="minutes" (ngModelChange)="onMinutesChange()" [formControl]="minutesControl" name="minutesControl" placeholder="Minutes" type="number" required>
                            <mat-error>Please enter a valid time.</mat-error>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col col-md-1 col-sm-12 col-xs-12">
                <div style="position: relative; top: 70%; transform: translateY(-100%);">
                    <mat-checkbox [(ngModel)]="isOnlyQueue" color="primary" [ngModelOptions]="{standalone: true}" required>Only Queue</mat-checkbox>      
                </div>
            </div>
        </div>

        <!--
 
        <table style="width: 100%">
            <td style="width: 65%;">
                
            </td>
            
            <td style="width: 20%; top: 5px; padding-left:5px; position: relative">
                
            </td>

            <td style="width: 15%; margin-left: 5px;">
                
            </td>

        </table>

        -->
    <div *ngIf="!mobile; else isMobile">
        <button mat-raised-button [disabled]="!signinForm.form.valid || myControl.invalid || buttonDisable || (machineAvailability && machineAvailability[machineToPlural(machine)][machineToIndex(machine)]['inUse'] && !isOnlyQueue) || minutesWrong" (click)="onSubmitSignin()" type="button" color="primary" style="width: 250px; height: 50px; font-size: 20px">
            Reserve
        </button>
    </div>
    <ng-template #isMobile>
        <div class="centered">
            <button mat-raised-button [disabled]="!signinForm.form.valid || myControl.invalid || buttonDisable || (machineAvailability && machineAvailability[machineToPlural(machine)][machineToIndex(machine)]['inUse'] && !isOnlyQueue) || minutesWrong" (click)="onSubmitSignin()" type="button" color="primary" style="width: 100%; height: 50px; font-size: 20px">
                Reserve
            </button>
        </div>
    </ng-template>
    
  </form>
  <br/>
  <br/>

  <mat-divider></mat-divider>

    <table style="width: 100%">
        <td>
            <app-usage [machineAvailability]="machineAvailability" [list]="list" [queue]="queue"></app-usage>
        </td>
    </table>

    
  

    
    <br/>
    <br/>
    <br/>
    <br/>
</div>