<mat-toolbar color="primary" class="top">
  <!--
  <table width="100%" height="100%">
      <td class="topbar" style="text-align: left; left:0px; font-size: 15px">
          
      </td>
      <td class="topbar" style="text-align: center">
          <div style="margin-top: 14px">{{topBarTitle}}</div>
      </td>
      <td class="topbar" style="text-align: right">
            <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon class="mat-24">more_vert</mat-icon></button>
            <mat-menu #menu="matMenu">
              <button (click)="this.openLog()" mat-menu-item>Log</button>
            </mat-menu>
      </td>
  </table>-->

  <div class="row" style="width: 100%">
    <div class="col col-md-4 col-sm-4">

    </div>
    <div style="font-weight: normal;" class="col col-md-4 col-sm-4">
        <div class="centered" style="margin-top: 4px">{{topBarTitle}}</div>
    </div>
    <div class="col col-md-4 col-sm-4">
      <div style="float: right; font-weight: normal;">
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon class="mat-24">more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
          <span *ngIf="!logAdminOnly || isAuthenticated">
            <button (click)="this.openLog()" mat-menu-item>Log</button>
          </span>
          <span *ngIf="!requirePinForSettings || isAuthenticated">
            <button (click)="this.openModifySettings()" mat-menu-item>Settings</button>
          </span>
          <span *ngIf="!requirePinForSettings || isAuthenticated">
            <button (click)="this.openModifyMachines()" mat-menu-item>Modify Machines</button>
          </span>
        </mat-menu>
      </div>
    </div>
  </div>
</mat-toolbar>

