<h2>{{pinSet ? 'Enter the previously set pin' : 'Set up a pin to access settings'}}</h2>

<br/>

<form (submit)="closeDialog()" action="#">
    <table>
        <tr>
            <mat-form-field appearance="outline">
                <mat-label>Input your pin</mat-label>
                <input matInput name="pin" type="number" [(ngModel)]="pinInput" placeholder="Pin">
                <mat-icon matSuffix>lock</mat-icon>
                <mat-hint>Example: "1234"</mat-hint>
            </mat-form-field>
        </tr>
        <br/>
        <br/>
        <tr style="height: 30%">
            <div stlye="float: left">
                <button mat-raised-button (click)="closeDialog()" color="primary" type="submit" [mat-dialog-close]="true">Submit</button>
            </div>
        </tr>
    </table>
    
</form>
