<h2>{{pinSet ? 'Enter the previously set pin' : 'Set up a pin to access settings'}}</h2>

<br/>

<form (submit)="closeDialog()" action="#">
    <table style="height: 70% !important; width: 100% !important">
        <tr style="height: 70% !important">
            <input matInput class="form-control" name="pin" type="number" [(ngModel)]="pinInput">
        </tr>
        <br/>
        <br/>
        <tr style="height: 30%">
            <div stlye="float: left">
                <button mat-raised-button (click)="closeDialog()" color="primary" type="submit" [mat-dialog-close]="true">Submit</button>
            </div>
        </tr>
    </table>
    
</form>
