<app-header></app-header>
<mat-tab-group [(selectedIndex)]="selectedIndex" style="height: 100%">
  <mat-tab label="Sign Up">
    <app-signin-component [(machine)]="machine" [queue]="queue"></app-signin-component>
  </mat-tab>
  <mat-tab label="Status">
    <table>
      <td style="position: relative; width: 40%; height: 100%; padding: 10px; top: -5px">
          <mat-card id="card" class="big demo-basic">
            <div style="padding-top: 10px; padding-left: 30px; padding-right: 30px; padding-bottom: 30px">
                <h3>Queue</h3>
                <br/>
                <app-brothers-queue [queue]="queue"></app-brothers-queue>
            </div>
            
          
          </mat-card>
      </td>
    
      <td style="width: 60%; height: 100%; padding: 10px;">
          <mat-card id="card" class="big demo-basic">
            <div *ngIf="machineAvailability !== null" style="padding-top: 10px; padding-left: 30px; padding-right: 30px; padding-bottom: 30px">
                <app-machine-status [(selectedIndex)]="selectedIndex" [machineAvailability]="machineAvailability" (notify)="onNotifyMachine($event)"></app-machine-status>
            </div>
              
          </mat-card>
          
      </td>
    </table>
  </mat-tab>
</mat-tab-group>


