<div class="row border-between">
  <div class="col" ng-class="{'col-sm-12': usingListOnly, 'col-md-12': usingListOnly, 'centered': usingListOnly, 'col-md-6': !usingListOnly, 'col-sm-6': !usingListOnly}" ng-if="usingListOnly">
      <div style="text-align: center; top: 50%; left: 50%; margin: 0 auto"><h5 class="pt-2">Active</h5></div>
      <div *ngIf="list && list.length == 0">
          <br/>
          <br/>
          <br/>
          <div class="centered">
              <h4>All machines are free</h4>
          </div>
        </div>
      <mat-list>
        <mat-list-item *ngFor="let user of list"> 
          <h5 matLine>
            {{user.name}} - {{user.machine.charAt(0).toUpperCase() + user.machine.slice(1) + ' ' + user.machineNumber}}
          </h5>
          <span matLine>
            Time remaining: {{SecondsTohhmmss(user.endTime - now)}}
          </span>
          <span *ngIf="MACHINES_LIST[user.machine]['useAlerts']">
            <button mat-icon-button [disabled]="config && config.Users.alertService !== 'email'" [matMenuTriggerFor]="alertmenu"><mat-icon class="mat-24">notifications</mat-icon></button>
            <mat-menu #alertmenu="matMenu">
              <ng-template matMenuContent>
                <span *ngFor="let alert of MACHINES_LIST[user.machine]['customAlerts']">
                  <button (click)="this.sendEmailAlert(user.name, alert)" mat-menu-item>{{alert.key}}</button>
                </span>
              </ng-template>
            </mat-menu>
          </span>
          <span *ngIf="canRemoveFromUsageList">
            <button mat-icon-button (click)="this.removeFromList(user)"><mat-icon class="mat-24">clear</mat-icon></button>
          </span>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
  </div>
  <div class="col col-md-6 col-sm-6" *ngIf="!usingListOnly">
    <div class="centered"><h5 class="pt-2">Queue</h5></div>
    <div *ngIf="queue && queue.length == 0">
      <br/>
      <br/>
      <br/>
      <div class="centered">
          <h4>The queue is empty</h4>
      </div>
    </div>
    <mat-list>
      <mat-list-item style="white-space: normal" *ngFor="let user of queue"> 
          <h5 matLine style="vertical-align: middle">
            <div class="row">
              <div class="col col-md-8 col-sm-12">
                {{user.name}} - {{user.machine.charAt(0).toUpperCase() + user.machine.slice(1) + ' ' + user.machineNumber}}
              </div>
                <div class="col col-md-4 col-sm-12">
                  <button mat-raised-button (click)="this.moveFromQueueToList(user)" color="primary" style="float: right; margin-left: 10px;" [disabled]="machineAvailability[machineToPlural(user.machine + user.machineNumber)][machineToIndex(user.machine + user.machineNumber + 1)]['inUse']">Start</button>
                </div>
            </div>
          </h5>
          <span matLine></span>
          <button mat-icon-button (click)="this.removeFromQueue(user)">
              <mat-icon class="mat-24">clear</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
  </div>
</div>



