<table width="100%" height="100%">


  <td class="topbar" style="text-align: center">
    
  </td>
    
  <td class="topbar" style="text-align: center">
      <h2>Washer</h2>
      <br/>
    <img [style.background-color]="washerColor" class="icons" src="../../../assets/washer.png">
    <button class="readyButton" mat-mini-fab color="primary" (click)="changeTab('Washer')" [disabled]="!machineAvailability.washer">
      <mat-icon>{{machineAvailability.washer ? 'check' : 'close'}}</mat-icon>
    </button>
  </td>

  <td class="topbar" style="text-align: center">
      <h2>Dryer</h2>
      <br/>
    <img [style.background-color]="dryerColor" class="icons" src="../../../assets/dryer.png">
    <button class="readyButton" mat-mini-fab color="primary" (click)="changeTab('Dryer')" [disabled]="!machineAvailability.dryer">
      <mat-icon>{{machineAvailability.dryer ? 'check' : 'close'}}</mat-icon>
    </button>
  </td>

  <td class="topbar" style="text-align: center">
      
  </td>

</table>