<div class="row">
  <ng-container *ngIf="machineAvailability && MACHINES_LIST">
      <ng-container *ngFor="let key of objectKeys(machineAvailability)">
          <div *ngFor="let machine of machineAvailability[key]; let i = index" class="col col-sm-6 container">
            <div class="centered">
              <h6>{{machine.longName}}</h6>
            </div>
      
            <img style="width: 60%" class="icons img-responsive" [src]="getImgSrc(MACHINES_LIST[key.substring(0,key.length-1)]['icon'])">
            <button class="btn" mat-mini-fab color="primary" (click)="changeTab(key.substring(0,key.length-1) + (i + 1))" [disabled]="machineAvailability[key][i]['inUse']">
              <mat-icon>{{!machineAvailability[key][i]['inUse'] ? 'check' : 'close'}}</mat-icon>
            </button>
          </div>
        </ng-container>
      </ng-container>
</div>
