<div class="row border-between">
  <div class="col col-md-6" ng-class="{'col-sm-12': usingListOnly, 'col-sm-6': !usingListOnly}" ng-if="usingListOnly">
      <div style="text-align: center; top: 50%; left: 50%; margin: 0 auto"><h5 class="pt-2">Using</h5></div>
      <div *ngIf="list && list.length == 0">
          <br/>
          <br/>
          <br/>
          <div class="centered">
              <h4>All machines are free</h4>
          </div>
        </div>
    <mat-list>
        <mat-list-item style="white-space: normal" *ngFor="let brother of list"> 
          <h5 matLine>
            {{brother.name}} - {{brother.machine.charAt(0).toUpperCase() + brother.machine.slice(1) + ' ' + brother.machineNumber}}
          </h5>
          <span matLine>
            Time remaining: {{SecondsTohhmmss(brother.endTime - now)}}
          </span>
          <button mat-icon-button (click)="this.removeFromList(brother)">
              <mat-icon class="mat-24">clear</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
      </mat-list>
  </div>
  <div class="col col-md-6 col-sm-6" *ngIf="!usingListOnly">
    <div class="centered"><h5 class="pt-2">Queue</h5></div>
    <div *ngIf="queue && queue.length == 0">
      <br/>
      <br/>
      <br/>
      <div class="centered">
          <h4>The queue is empty</h4>
      </div>
    </div>
    <mat-list>
      <mat-list-item style="white-space: normal" *ngFor="let brother of queue"> 
          <h5 matLine style="vertical-align: middle">
            <div class="row">
              <div class="col col-md-8 col-sm-12">
                {{brother.name}} - {{brother.machine.charAt(0).toUpperCase() + brother.machine.slice(1) + ' ' + brother.machineNumber}}
              </div>
                <div class="col col-md-4 col-sm-12">
                  <button mat-raised-button (click)="this.moveFromQueueToList(brother)" color="primary" style="float: right; margin-left: 10px;" [disabled]="machineAvailability[machineToPlural(brother.machine + brother.machineNumber)][machineToIndex(brother.machine + brother.machineNumber + 1)]['inUse']">Start</button>
                </div>
            </div>
          </h5>
          <span matLine></span>
          <button mat-icon-button (click)="this.removeFromQueue(brother)">
              <mat-icon class="mat-24">clear</mat-icon>
          </button>
          <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
  </div>
</div>



