.demo-card {
    margin: 16px;
}

.demo-basic {
    padding: 0;
}

.demo-basic .mat-card-content {
    padding: 16px;
}

mat-toolbar.top {
    height: 50px;
    width: 100%;
    text-align: center;
}

/*::ng-deep .mat-form-field-placeholder{

    transform: scale(.75) translateY(20px) !important;
  }*/

  p {
    width: 100%;
    height: 400px; 
    } 

.big {
    width: 100%;
    height: 100%;
}

.centered {
    top: 50%;
    left: 50%;
    margin: 0 auto;
    text-align: center;
}

.example-full-width {
    width: 100%;
}

mat-form-field.mat-form-field {
    font-size: 24px;
  }

  .right-aligned-header > .mat-content {
    justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

.my-headers-align .mat-expansion-panel-header-title, 
.my-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.verticalLine {
    border-left: solid #000000 0.5px;
    height: 60px;
  }

  .border-between > [class*='col-']:before {
    background: #e3e3e3;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
 }
 
 .border-between > [class*='col-']:first-child:before {
    display: none;
 }